In [13]:
set.seed(999)
options(repr.plot.width = 15, repr.plot.height = 10, warn = -1) 

library(tidyverse)
library(repr)

In [14]:
# read dataset + only selecting assigned variable (pH)

data <- read_csv('https://raw.githubusercontent.com/Kayleeli/BIOL342-Project/main/Data/Salish%20Creek%20Data%202022.csv', skip = 1, show_col_types = FALSE)
colnames(data) <- make.names(colnames(data))
ph_only <- data %>% select(Site, Soil.pH, Water.pH) 

head(ph_only, n = 2)

  Site  Soil.pH Water.pH
1 upper 6.5     6
2 upper 5.5     7

In [15]:
# check if there is any NA values
sum(is.na(ph_only))

[1] 0

In [16]:
# sample size
sample_size <- ph_only %>%
    group_by(Site) %>%
    summarize(n = n())

sample_size

  Site  n
1 lower 23
2 upper 23

In [17]:
# setting up for unpaired t-test
lower_soilpH <- 
    ph_only %>%
    filter(Site == "lower") %>%
    select(Soil.pH)

upper_soilpH <- 
    ph_only %>%
    filter(Site == "upper") %>%
    select(Soil.pH)

lower_waterpH <- 
    ph_only %>%
    filter(Site == "lower") %>%
    select(Water.pH)

upper_waterpH <- 
    ph_only %>%
    filter(Site == "upper") %>%
    select(Water.pH)

In [18]:
# unpaired t-test soil_pH (also called independent sample t-test)
t.test_hypo_test_soil_pH <- 
    broom::tidy(
        t.test(x = lower_soilpH,
               y = upper_soilpH, 
               alternative = "two.sided", var.equal = TRUE))


hypo_test_soil_pH_stat <- t.test(lower_soilpH, upper_soilpH, var.equal = TRUE)

t.test_hypo_test_soil_pH
hypo_test_soil_pH_stat

  estimate  estimate1 estimate2 statistic p.value      parameter conf.low
1 0.5369565 7.06087   6.523913  3.973734  0.0002591918 44        0.2646271
  conf.high method            alternative
1 0.8092859 Two Sample t-test two.sided

	Two Sample t-test

data:  lower_soilpH and upper_soilpH
t = 3.9737, df = 44, p-value = 0.0002592
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.2646271 0.8092859
sample estimates:
mean of x mean of y
 7.060870  6.523913

In [19]:
# unpaired t-test water_pH (also called independent sample t-test)

t.test_hypo_test_water_pH <- 
    broom::tidy(
        t.test(x = lower_waterpH,
               y = upper_waterpH,
               alternative = "two.sided", var.equal = TRUE))

hypo_test_water_pH_stat <- t.test(lower_waterpH, upper_waterpH, var.equal = TRUE)

t.test_hypo_test_water_pH
hypo_test_water_pH_stat

  estimate  estimate1 estimate2 statistic p.value   parameter conf.low
1 0.1343478 6.597826  6.463478  1.054115  0.2975843 44        -0.1225123
  conf.high method            alternative
1 0.391208  Two Sample t-test two.sided

	Two Sample t-test

data:  lower_waterpH and upper_waterpH
t = 1.0541, df = 44, p-value = 0.2976
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.1225123  0.3912080
sample estimates:
mean of x mean of y
 6.597826  6.463478