In [4]:
library(tidyverse)
install.packages("patchwork")
library(patchwork)

Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/4.1’
(as ‘lib’ is unspecified)

In [5]:
library(patchwork)

In [7]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [13]:
flower <- iris %>%
mutate(Size = cut(Sepal.Length, breaks = 3, labels = c("small", "med", "large"))) %>%
select(Species, Size)

In [14]:
table(flower)

            Size
Species      small med large
  setosa        47   3     0
  versicolor    11  36     3
  virginica      1  32    17

In [18]:
table(flower$Size)

small   med large
   59    71    20

In [19]:
flower %>%
table() %>%
chisq.test()

	Pearson's Chi-squared test

data:  .
X-squared = 111.63, df = 4, p-value < 2.2e-16

In [21]:
# tables of the expected values
flower %>%
table() %>%
chisq.test() %>%
.$expected

            Size
Species      small    med      large
  setosa     19.66667 23.66667 6.666667
  versicolor 19.66667 23.66667 6.666667
  virginica  19.66667 23.66667 6.666667